<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
           Beacon 
        </title>
    </head>
    <body>
        <h1>
            Holy cow
        </h1>
        <p>
        WOAH BABEY
        </p>
        <p>
            Click 
            <a href="https://www.youtube.com/watch?v=oavMtUWDBTM&ab_channel=RealPapaPit" target="blank"> here</a> for sexy
        </p>
        <br>
        <img src="https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp">
        <br>
        <h5> HOLY FUCK IT'S AN AWESOME ASS CAT </h5>
    </body>
</html>
